$boxShadow: 
  0px 0px 0px 0px rgba(18, 3, 62, 0.10), 
  0px 0px 1px 0px rgba(18, 3, 62, 0.10), 
  0px 1px 1px 0px rgba(18, 3, 62, 0.09), 
  0px 3px 2px 0px rgba(18, 3, 62, 0.05), 
  0px 5px 2px 0px rgba(18, 3, 62, 0.01), 
  0px 8px 2px 0px rgba(18, 3, 62, 0.00);

$boxShadowHovered:
  0px 0px 1px 0px rgba(18, 3, 62, 0.10), 
  0px 1px 1px 0px rgba(18, 3, 62, 0.10);

.btn {
    display: flex;
    width: 278px;
    height: 32px;
    cursor: pointer;   
    transition: 200ms; 
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 10px;
    font-size: 13px;
    &:hover {transition: 200ms;}
}

.button {

    &-add {
        background: none;
        gap: 6px;
        color: #88819F;
        border: none; 
        &:hover{color: #7736f0;}
    }

    &-space {
        color: #001C39;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        gap: 6px;
        flex-shrink: 0;
        border: 1px solid rgba(231, 230, 236, 0.50);
        background: #FFF;
        box-shadow: $boxShadow;
        &:hover {
            background-color: #F8FAFF;
            box-shadow: $boxShadowHovered;
        }
    }

    &-space-edit {
        color:white;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        gap: 6px;
        border: 1px solid rgba(231, 230, 236, 0.50);
        background: #007DFC;
        box-shadow: $boxShadow;
        
        &:hover {
           color: #FFF;
           background: #7736f0;
        }
    }
}
