.space-card {
    display: flex;
    padding: 16px;
    width: 278px;
    height: 64px;
    border-radius: 8px;
    background-color: #FFFF;
    opacity: .5;
    transition: 200ms;

    &-active {
        opacity: 1;
        background-color: #F4F7FE;
    }  

    &:hover {
        opacity: 1;
        transition: 200ms;
    }

    .space-text-wrap {
        flex: 1;
        color: #001C39;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 143px;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px; 
        opacity: 0.5;
        margin-left: 12px;
        padding-top:7px;
    }

}

.space-wrapper {
    display: flex;
    align-content: center;
    margin: 0 auto;

    .action-buttons {
        display: flex;
        flex-wrap: inherit;
        align-content: center;
        height: 100%;
        gap: 8px;
        padding: 4px 0;
    }
}