.action-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  transition: 200ms;
  opacity: .7;
  width: 24px;
  height: 24px;

  &:hover {
    transition: 200ms;
    opacity: 1;
  }

}
