.action-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

.action-button:first-child {
  margin-right: 12px;
}
.action-button:nth-child(2) {
  margin-right: 8px;
}
